{#
This is a demo template for the authentication form. Please consider overwriting this with your own template,
especially when you're using different route names than the ones used here.
#}

{# Authentication errors #}
{% if authenticationError %}
<p>{{ "scheb_two_factor.code_invalid"|trans(authenticationErrorData) }}</p>
{% endif %}

{# Let the user select the authentication method #}
<p>{{ "scheb_two_factor.choose_provider"|trans }}:
    {% for provider in availableTwoFactorProviders %}
        <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
    {% endfor %}
</p>

{# Display current two-factor provider #}
<p class="label"><label for="_auth_code">{{ "scheb_two_factor.auth_code"|trans }} {{ twoFactorProvider }}:</label></p>

<form class="form" action="{{ path("2fa_login_check") }}" method="post">
    <p class="widget"><input id="_auth_code" type="text" autocomplete="off" name="{{ authCodeParameterName }}" /></p>
    {% if displayTrustedOption %}
        <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "scheb_two_factor.trusted"|trans }}</label></p>
    {% endif %}
    <p class="submit"><input type="submit" value="{{ "scheb_two_factor.login"|trans }}" /></p>
</form>

{# The logout link gives the user a way out if they can't complete two-factor authentication #}
<p class="cancel"><a href="{{ path("_security_logout") }}">{{ "scheb_two_factor.cancel"|trans }}</a></p>
